@font-face {
  font-family: 'quango';
  src: url('quango.woff') format('woff');
}

/*canvas {
  max-height: 600px;
}*/

html {
  background-color: #111;
  background-image: url('../assets/images/pagebg.png');
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

body {
  background-image: url('../assets/images/stars.png'), url('../assets/images/stars2.png');
  background-repeat: no-repeat;
  background-position: 10% 10%, 90% 90%;
  text-align: center;
}

#game-wrapper {
  position: relative;
  display: inline-block;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  background-color: #0d1125;
}

#bonus-ui {
  position: absolute;
  top: 0;
  left: 50%;
  width: 300px;
  height: 30px;
  transform: translateX(-50%);
  background: url('../assets/images/bonus-ui.png');
  background-size: cover;
  background-position: center;
}

#scoreEl,
#lifeEl {
  position: absolute;
  right : 0;
  font-family: 'quango';
  color: #a6f9ff;
  font-size: 1.5rem;
  background: url('../assets/images/scoreui.png');
  width: 215px;
  height: 44px;
  line-height: 2;
}

#scoreEl {
  bottom: 1%;
}

#lifeEl {
 bottom: calc(1% + 44px + 1%);
}

#scoreVal {
  padding-right: 50px;
}

.life-wrapper {
  text-align: center;
  padding-right: 50px;
}

#hpEl {
  position: absolute;
  bottom: 1%;
  left: 1%;
  background-image: url('../assets/images/hpmeter.png');
  width: 40px;
  height: 150px;
}

#hpEl::before {
  position: absolute;
  top: calc(-40px - -1%);
  background-image: url('../assets/images/hpicon.png');
  width: 40px;
  height: 40px;
  content: '';
  left: 0;
}

#shEl::before {
  position: absolute;
  top: calc(-40px - -1%);
  background-image: url('../assets/images/powericon.png');
  width: 40px;
  height: 40px;
  content: '';
  left: 0;
}

.wrapper {
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
}

#hp,
#sh {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 400ms height ease;
}

#hp {
  background: #fd5842;
}

#sh {
  background: #42a3fd;
}

#shEl {
  position: absolute;
  bottom: 1%;
  left: calc(2% + 40px);
  background-image: url('../assets/images/hpmeter.png');
  width: 40px;
  height: 150px;
}

canvas {
  cursor: none;
}

.hide {
  opacity: 0;
  transition: opacity 2000ms ease;
}

#game-over-wrapper {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'quango';
  font-size: 5rem;
  color: #fff;
}

.show {
  opacity: 1 !important;
  transition: opacity 2000ms ease;
}