@font-face {
  font-family: 'quango';
  src: url('quango.woff') format('woff');
}

/*canvas {
  max-height: 600px;
}*/

#outer {
  background-image: url('../assets/images/stars.png'), url('../assets/images/stars2.png');
  background-repeat: no-repeat;
  background-position: 10% 10%, 90% 90%;
  text-align: center;
}

body {
  background-color: #111;
  background-image: url('../assets/images/pagebg.png');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  opacity: 0;
}

#game-wrapper {
  position: relative;
  display: inline-block;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
  background-color: #0d1125;
}

#bonus-ui {
  position: absolute;
  top: 0;
  left: 50%;
  width: 300px;
  height: 30px;
  transform: translateX(-50%);
  background: url('../assets/images/bonus-ui.png');
  background-size: cover;
  background-position: center;
}

#scoreEl,
#lifeEl {
  pointer-events: none;
  position: absolute;
  right : 0;
  font-family: 'quango';
  color: #a6f9ff;
  font-size: 1.5rem;
  background: url('../assets/images/scoreui.png');
  width: 215px;
  height: 44px;
  line-height: 2;
}

#scoreEl {
  bottom: 1%;
  pointer-events: none;
}

#lifeEl {
 bottom: calc(1% + 44px + 1%);
 pointer-events: none;
}

#scoreVal {
  padding-right: 50px;
}

.life-wrapper {
  text-align: center;
  padding-right: 50px;
}

#bosshpEl {
  display: none;
  position: absolute;
  top: 0.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 20px;
  background-image: url('../assets/images/bosshp.png');
  pointer-events: none;
}

#hpEl {
  position: absolute;
  bottom: 1%;
  left: 1%;
  background-image: url('../assets/images/hpmeter.png');
  width: 40px;
  height: 150px;
  pointer-events: none;
}

#hpEl::before {
  position: absolute;
  top: calc(-40px - -1%);
  background-image: url('../assets/images/hpicon.png');
  width: 40px;
  height: 40px;
  content: '';
  left: 0;
}

#shEl::before {
  position: absolute;
  top: calc(-40px - -1%);
  background-image: url('../assets/images/powericon.png');
  width: 40px;
  height: 40px;
  content: '';
  left: 0;
}

.wrapper {
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
}

#hp,
#sh {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 400ms height ease;
}

#hp {
  background: #fd5842;
}

#bosshp {
  background: #fd5842;
}

#sh {
  background: #42a3fd;
}

#shEl {
  position: absolute;
  bottom: 1%;
  left: calc(2% + 40px);
  background-image: url('../assets/images/hpmeter.png');
  width: 40px;
  height: 150px;
  pointer-events: none;
}

canvas {
  cursor: none;
}

.hide {
  opacity: 0;
  transition: opacity 2000ms ease;
}

#game-over-wrapper {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'quango';
  font-size: 5rem;
  color: #fff;
}

.show {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0 !important;
  opacity: 1 !important;
  transition: opacity 2000ms ease;
}

.bonus-wrapper {
  position: absolute;
  top: 100%;
}

#start-game-wrapper {
  background-color: #0d1125;
  background-image: url('../assets/images/bigstars.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
}

#intro-wrap {
  background: url('../assets/images/uibg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  text-align: center;
}

#play {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.intro-text {
  margin-top: 10%;
  font-family: 'Quango';
  color: #fff;
  font-size: 1rem;
  max-width: 50%;
  display: inline-block;
  text-align: center;
  background: #516773;
  border: 3px black solid;
  padding: 15px;
}

#intro-title {
  width: 60%;
}

#victory-game-wrapper {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: -9999px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'quango';
  font-size: 5rem;
  color: #fff;
}

.victory-text {
  margin-top: 25%;
  font-size: 3rem;
}

.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 48px;
  padding: 4.8rem;
  text-align: center;
}
.soc li {
  display: inline-block;
  margin: 12px;
  margin: 1.2rem;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 96px;
  height: 9.6rem;
  width: 96px;
  width: 9.6rem;
}
.soc svg {
  height: 100%;
  width: 100%;
}
.soc em {
  font-size: 14px;
  line-height: 1.5;
  margin-top: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon-4:hover, .icon-13:hover, .icon-17:hover {
  border-radius: 100%;
  color: #0e1a25;
  fill: #0e1a25;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-4 {
  color: #d9b526;
  fill: #d9b526;
}
.icon-4:hover {
  background: #d9b526;
}

.icon-13 {
  color: #26d991;
  fill: #26d991;
}
.icon-13:hover {
  background: #26d991;
}

.icon-17 {
  color: #2691d9;
  fill: #2691d9;
}
.icon-17:hover {
  background: #2691d9;
}