<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h1 class="app-title"><img src="assets/images/logo.png" alt="Ace Force One"></h1>
  
  <div id="game-wrapper">

    <div id="ui-wrapper">
      <div id="bosshpEl">
        <div class="wrapper">
          <div id="bosshp"></div>
        </div>
      </div>

      <div id="hpEl">
        <div class="wrapper">
          <div id="hp"></div>
        </div>
      </div>

      <div id="shEl">
        <div class="wrapper">
          <div id="sh"></div>
        </div>
      </div>

      <div id="lifeEl"><div class="life-wrapper"><span id="lifeVal">1</span><span>&nbsp;/&nbsp;3&nbsp;<img src="assets/images/lifeico.png" alt=""></span></div></div>

      <div id="scoreEl"><span id="scoreVal">0</span></div>
    </div>

    <div id="game-over-wrapper">
      <div class="game-over-info">GAME OVER</div>
    </div>

  </div>

  <script src="main.js" type="text/javascript"></script>
</body>
</html>
