<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h1 class="app-title"><img src="assets/images/logo.png" alt="Ace Force One"></h1>
  
  <div id="game-wrapper">

    <div id="hpEl">
      <div class="wrapper">
        <div id="hp"></div>
      </div>
    </div>

    <div id="shEl">
      <div class="wrapper">
        <div id="sh"></div>
      </div>
    </div>

    <div id="scoreEl">0</div>
  </div>

  <script src="main.js" type="text/javascript"></script>
</body>
</html>
